<section class="section-gap bg-gray">
    <div class="container">
        <div class="row mb-lg-5 mb-4">
            <div class="col-md-8">
                <h5>پست های مشابه</h5>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card border-0 mb-md-0 mb-3 box-hover">
                    <a href="#"><img class="card-img-top" src="/static/assets/img/cards/3a.jpg" alt="card image"></a>
                    <div class="card-body py-4">
                        <a href="#" class="mb-2 d-block">مسافرت</a>
                        <h5 class="mb-4"><a href="#">زندگی را دوست داشته باشید</a></h5>
                        <div class="mb-4">
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                گرافیک است.</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <img class="avatar-sm rounded-circle mr-3" src="/static/assets/img/avatar1.jpg"
                                alt="توماس جانسون">
                            <span>توماس جانسون</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 mb-md-0 mb-3 box-hover">
                    <a href="#"><img class="card-img-top" src="/static/assets/img/cards/3b.jpg" alt="card image"></a>
                    <div class="card-body py-4">
                        <a href="#" class="mb-2 d-block">هنر</a>
                        <h5 class="mb-4"><a href="#">مسابقه نقاشی در خیابان</a></h5>
                        <div class="mb-4">
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                گرافیک است.</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <img class="avatar-sm rounded-circle mr-3" src="/static/assets/img/avatar1.jpg"
                                alt="توماس جانسون">
                            <span>توماس جانسون</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 mb-md-0 mb-3 box-hover">
                    <a href="#"><img class="card-img-top" src="/static/assets/img/cards/3c.jpg" alt="card image"></a>
                    <div class="card-body py-4">
                        <a href="#" class="mb-2 d-block">آژمایشگاه</a>
                        <h5 class="mb-4"><a href="#">مسابقه نقاشی در خیابان</a></h5>
                        <div class="mb-4">
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                گرافیک است.</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex align-items-center">
                            <img class="avatar-sm rounded-circle mr-3" src="/static/assets/img/avatar1.jpg"
                                alt="توماس جانسون">
                            <span>توماس جانسون</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>