<!doctype html>
<html class="no-js" lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>آدومکس - قالب مدیریتی ریسپانسیو بوت استرپ 4</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/assets/images/favicon.ico">

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/assets/css/vendor/bootstrap.min.css">

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/static/assets/css/vendor/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="/static/assets/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="/static/assets/css/vendor/themify-icons.css">
    <link rel="stylesheet" href="/static/assets/css/vendor/cryptocurrency-icons.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/static/assets/css/plugins/plugins.css">

    <!-- Helper CSS -->
    <link rel="stylesheet" href="/static/assets/css/helper.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/static/assets/css/style.css">

    <!-- Custom Style CSS Only For Demo Purpose -->
    <link id="cus-style" rel="stylesheet" href="/static/assets/css/style-primary.css">

</head>

<body dir="rtl">

    <div class="main-wrapper">


        <!-- Header Section Start -->
        <div class="header-section">
            <div class="container-fluid">
                <div class="row justify-content-between align-items-center">

                    <!-- Header Logo (Header Left) Start -->
                    <div class="header-logo col-auto">
                        <a href="index.html">
                            <img src="/static/assets/images/logo/logo.png" alt="">
                            <img src="/static/assets/images/logo/logo-light.png" class="logo-light" alt="">
                        </a>
                    </div><!-- Header Logo (Header Left) End -->

                    <!-- Header Right Start -->
                    <div class="header-right flex-grow-1 col-auto">
                        <div class="row justify-content-between align-items-center">

                            <!-- Side Header Toggle & Search Start -->
                            <div class="col-auto">
                                <div class="row align-items-center">

                                    <!--Side Header Toggle-->
                                    <div class="col-auto"><button class="side-header-toggle"><i
                                                class="zmdi zmdi-menu"></i></button></div>

                                    <!--Header Search-->
                                    <div class="col-auto">

                                        <div class="header-search">

                                            <button class="header-search-open d-block d-xl-none"><i
                                                    class="zmdi zmdi-search"></i></button>

                                            <div class="header-search-form">
                                                <form action="#">
                                                    <input type="text" placeholder="جستجو کنید">
                                                    <button><i class="zmdi zmdi-search"></i></button>
                                                </form>
                                                <button class="header-search-close d-block d-xl-none"><i
                                                        class="zmdi zmdi-close"></i></button>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div><!-- Side Header Toggle & Search End -->

                            <!-- Header Notifications Area Start -->
                            <div class="col-auto">

                                <ul class="header-notification-area">

                                    <!--Language-->
                                    <li class="adomx-dropdown position-relative col-auto">
                                        <a class="toggle" href="#"><img class="lang-flag"
                                                src="/static/assets/images/flags/flag-1.jpg" alt=""><i
                                                class="zmdi zmdi-caret-down drop-arrow"></i></a>

                                        <!-- Dropdown -->
                                        <ul class="adomx-dropdown-menu dropdown-menu-language">
                                            <li><a href="#"><img src="/static/assets/images/flags/flag-1.jpg" alt=""> ایرانی</a>
                                            </li>
                                            <li><a href="#"><img src="/static/assets/images/flags/flag-2.jpg" alt="">
                                                    انگلیسی</a></li>
                                            <li><a href="#"><img src="/static/assets/images/flags/flag-3.jpg" alt=""> اسپانیایی
                                                </a></li>
                                            <li><a href="#"><img src="/static/assets/images/flags/flag-4.jpg" alt=""> آلمانی</a>
                                            </li>
                                        </ul>

                                    </li>

                                    <!--Mail-->
                                    <li class="adomx-dropdown col-auto">
                                        <a class="toggle" href="#"><i class="zmdi zmdi-email-open"></i><span
                                                class="badge"></span></a>

                                        <!-- Dropdown -->
                                        <div class="adomx-dropdown-menu dropdown-menu-mail">
                                            <div class="head">
                                                <h4 class="title">شما 3 ایمیل دارید.</h4>
                                            </div>
                                            <div class="body custom-scroll">
                                                <ul>
                                                    <li>
                                                        <a href="#">
                                                            <div class="image"><img
                                                                    src="/static/assets/images/avatar/avatar-2.jpg" alt="">
                                                            </div>
                                                            <div class="content">
                                                                <h6>زیر: اکانت جدید</h6>
                                                                <p>تغییرات زیادی در قسمت هایی از آدومکس وجود دارد. </p>
                                                            </div>
                                                            <span class="reply"><i
                                                                    class="zmdi zmdi-mail-reply"></i></span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <div class="image"><img
                                                                    src="/static/assets/images/avatar/avatar-1.jpg" alt="">
                                                            </div>
                                                            <div class="content">
                                                                <h6>زیر: ایمیل پشتیبانی</h6>
                                                                <p>تغییرات زیادی در قسمت هایی از آدومکس وجود دارد. </p>
                                                            </div>
                                                            <span class="reply"><i
                                                                    class="zmdi zmdi-mail-reply"></i></span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <div class="image"><img
                                                                    src="/static/assets/images/avatar/avatar-2.jpg" alt="">
                                                            </div>
                                                            <div class="content">
                                                                <h6>زیر: درخواست کالا</h6>
                                                                <p>تغییرات زیادی در قسمت هایی از آدومکس وجود دارد. </p>
                                                            </div>
                                                            <span class="reply"><i
                                                                    class="zmdi zmdi-mail-reply"></i></span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <div class="image"><img
                                                                    src="/static/assets/images/avatar/avatar-1.jpg" alt="">
                                                            </div>
                                                            <div class="content">
                                                                <h6>زیر: ایمیل پشتیبانی</h6>
                                                                <p>تغییرات زیادی در قسمت هایی از آدومکس وجود دارد. </p>
                                                            </div>
                                                            <span class="reply"><i
                                                                    class="zmdi zmdi-mail-reply"></i></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </li>

                                    <!--Notification-->
                                    <li class="adomx-dropdown col-auto">
                                        <a class="toggle" href="#"><i class="zmdi zmdi-notifications"></i><span
                                                class="badge"></span></a>

                                        <!-- Dropdown -->
                                        <div class="adomx-dropdown-menu dropdown-menu-notifications">
                                            <div class="head">
                                                <h5 class="title">شما 4 اعلان جدید دارید.</h5>
                                            </div>
                                            <div class="body custom-scroll">
                                                <ul>
                                                    <li>
                                                        <a href="#">
                                                            <i class="zmdi zmdi-notifications-none"></i>
                                                            <p>تغییرات زیادی در صفحات وجود دارد.</p>
                                                            <span>قبل ظهر 11:00 امروز</span>
                                                        </a>
                                                        <button class="delete"><i
                                                                class="zmdi zmdi-close-circle-o"></i></button>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="zmdi zmdi-block"></i>
                                                            <p>تغییرات زیادی در صفحات وجود دارد.</p>
                                                            <span>قبل ظهر 11:00 امروز</span>
                                                        </a>
                                                        <button class="delete"><i
                                                                class="zmdi zmdi-close-circle-o"></i></button>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="zmdi zmdi-info-outline"></i>
                                                            <p>تغییرات زیادی در صفحات وجود دارد.</p>
                                                            <span>قبل ظهر 11:00 امروز</span>
                                                        </a>
                                                        <button class="delete"><i
                                                                class="zmdi zmdi-close-circle-o"></i></button>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="zmdi zmdi-shield-security"></i>
                                                            <p>تغییرات زیادی در صفحات وجود دارد.</p>
                                                            <span>قبل ظهر 11:00 امروز</span>
                                                        </a>
                                                        <button class="delete"><i
                                                                class="zmdi zmdi-close-circle-o"></i></button>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="zmdi zmdi-notifications-none"></i>
                                                            <p>تغییرات زیادی در صفحات وجود دارد.</p>
                                                            <span>قبل ظهر 11:00 امروز</span>
                                                        </a>
                                                        <button class="delete"><i
                                                                class="zmdi zmdi-close-circle-o"></i></button>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="zmdi zmdi-block"></i>
                                                            <p>تغییرات زیادی در صفحات وجود دارد.</p>
                                                            <span>قبل ظهر 11:00 امروز</span>
                                                        </a>
                                                        <button class="delete"><i
                                                                class="zmdi zmdi-close-circle-o"></i></button>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="zmdi zmdi-info-outline"></i>
                                                            <p>تغییرات زیادی در صفحات وجود دارد.</p>
                                                            <span>قبل ظهر 11:00 امروز</span>
                                                        </a>
                                                        <button class="delete"><i
                                                                class="zmdi zmdi-close-circle-o"></i></button>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="zmdi zmdi-shield-security"></i>
                                                            <p>تغییرات زیادی در صفحات وجود دارد.</p>
                                                            <span>قبل ظهر 11:00 امروز</span>
                                                        </a>
                                                        <button class="delete"><i
                                                                class="zmdi zmdi-close-circle-o"></i></button>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="footer">
                                                <a href="#" class="view-all">مشاهده همه</a>
                                            </div>
                                        </div>

                                    </li>

                                    <!--User-->
                                    <li class="adomx-dropdown col-auto">
                                        <a class="toggle" href="#">
                                            <span class="user">
                                                <span class="avatar">
                                                    <img src="/static/assets/images/avatar/avatar-1.jpg" alt="">
                                                    <span class="status"></span>
                                                </span>
                                                <span class="name">{{user.fullName}}</span>
                                            </span>
                                        </a>

                                        <!-- Dropdown -->
                                        <div class="adomx-dropdown-menu dropdown-menu-user">
                                            <div class="head">
                                                <h5 class="name"><a href="#">{{user.fullName}}</a></h5>
                                                <a class="mail" href="#">{{user.email}}</a>
                                            </div>
                                            <div class="body">
                                                <ul>
                                                    <li><a href="#"><i class="zmdi zmdi-account"></i>پروفایل</a></li>
                                                </ul>
                                                <ul>
                                                    <li><a href="#"><i class="zmdi zmdi-settings"></i>تنظیمات</a></li>
                                                    <li><a href="#"><i class="zmdi zmdi-lock-open"></i>خروج</a></li>
                                                </ul>
                                            
                                            </div>
                                        </div>

                                    </li>

                                </ul>

                            </div><!-- Header Notifications Area End -->

                        </div>
                    </div><!-- Header Right End -->

                </div>
            </div>
        </div><!-- Header Section End -->
        <!-- Side Header Start -->
        <div class="side-header show">
            <button class="side-header-close"><i class="zmdi zmdi-close"></i></button>
            <!-- Side Header Inner Start -->
            <div class="side-header-inner custom-scroll">

                <nav class="side-header-menu" id="side-header-menu">
                    <ul>
                        <li><a href="/admin/dashboard"><i class="ti-palette"></i> <span>داشبورد</span></a></li>
                        <li><a href="/admin/posts"><i class="ti-palette"></i> <span>مطالب</span></a></li>
                        <li><a href="/admin/comments"><i class="ti-palette"></i> <span>دیدگاه ها</span></a></li>
                        <li><a href="/admin/users"><i class="ti-palette"></i> <span>کاربران</span></a></li>
                        <li><a href="/admin/settings"><i class="ti-palette"></i> <span>تنظیمات</span></a></li>
                        <li class="has-sub-menu"><a href="#"><i class="ti-package"></i> <span>عناصر پایه</span></a>
                            <ul class="side-header-sub-menu">
                                <li><a href="elements-alerts.html"><span>هشدار ها</span></a></li>
                                <li><a href="elements-accordions.html"><span>آکاردئون ها</span></a></li>
                                <li><a href="elements-avatar.html"><span>آواتار</span></a></li>
                                <li><a href="elements-badge.html"><span>نشانک ها</span></a></li>
                                <li><a href="elements-buttons.html"><span>دکمه ها</span></a></li>
                                <li><a href="elements-carousel.html"><span>کرسول</span></a></li>
                                <li><a href="elements-dropdown.html"><span>افت کشیدن</span></a></li>
                                <li><a href="elements-list-group.html"><span>فهرست گروه</span></a></li>
                                <li><a href="elements-media.html"><span>رسانه ها</span></a></li>
                                <li><a href="elements-modal.html"><span>مودال</span></a></li>
                                <li><a href="elements-pagination.html"><span>صفحه بندی</span></a></li>
                                <li><a href="elements-progress.html"><span>نوار پیشرفت</span></a></li>
                                <li><a href="elements-spinners.html"><span>اسپینرها</span></a></li>
                                <li><a href="elements-tabs.html"><span>زبانه ها</span></a></li>
                                <li><a href="elements-tooltip.html"><span>راهنمایی</span></a></li>
                                <li><a href="elements-typography.html"><span>تایپوگرافی</span></a></li>
                            </ul>
                        </li>
                        <li class="has-sub-menu"><a href="#"><i class="ti-crown"></i> <span>عناصر پیشرفته</span></a>
                            <ul class="side-header-sub-menu">
                                <li><a href="elements-clipboard.html"><span>کلیپ بورد</span></a></li>
                                <li><a href="elements-fullcalendar.html"><span>تقویم کامل</span></a></li>
                                <li><a href="elements-media-player.html"><span>پخش رسانه ای</span></a></li>
                                <li><a href="elements-sortable.html"><span>قابل مرتب شدن (درگ و دراپ)</span></a></li>
                                <li><a href="elements-toastr.html"><span>توستر</span></a></li>
                                <li><a href="elements-rating.html"><span>رتبه بندی</span></a></li>
                                <li><a href="elements-sweetalert.html"><span>هشدار خوب</span></a></li>
                            </ul>
                        </li>
                        <li class="has-sub-menu"><a href="#"><i class="ti-stamp"></i> <span>آیکن ها</span></a>
                            <ul class="side-header-sub-menu">
                                <li><a href="icons-cryptocurrency.html"><span>کریپتوکارنسی</span></a></li>
                                <li><a href="icons-fontawesome.html"><span>فونت عالی</span></a></li>
                                <li><a href="icons-material.html"><span>آیکن متریال</span></a></li>
                                <li><a href="icons-themify.html"><span>Themify آیکون</span></a></li>
                            </ul>
                        </li>
                        <li class="has-sub-menu"><a href="#"><i class="ti-notepad"></i> <span>فرم ها</span></a>
                            <ul class="side-header-sub-menu">
                                <li><a href="form-basic-elements.html"><span>عناصر پایه</span></a></li>
                                <li><a href="form-checkbox.html"><span>جعبه</span></a></li>
                                <li><a href="form-date-mask.html"><span>تاریخ و ماسک</span></a></li>
                                <li><a href="form-editor.html"><span>ویرایشگر</span></a></li>
                                <li><a href="form-file-upload.html"><span>آپلود فایل</span></a></li>
                                <li><a href="form-layout.html"><span>طرح بندی</span></a></li>
                                <li><a href="form-radio.html"><span>رادیو</span></a></li>
                                <li><a href="form-range-slider.html"><span>اسلایدر محدوده</span></a></li>
                                <li><a href="form-selects.html"><span>انتخاب ها</span></a></li>
                                <li><a href="form-switchers.html"><span>سوئیچرها</span></a></li>
                                <li><a href="form-wizard.html"><span>ویزارد</span></a></li>
                            </ul>
                        </li>
                        <li class="has-sub-menu"><a href="#"><i class="ti-layout"></i> <span>جداول</span></a>
                            <ul class="side-header-sub-menu">
                                <li><a href="table-basic.html"><span>پایه</span></a></li>
                                <li><a href="table-data-table.html"><span>جدول داده ها</span></a></li>
                                <li><a href="table-footable.html"><span>تصویر زمینه</span></a></li>
                                <li><a href="table-jsgrid.html"><span>جسیجید</span></a></li>
                            </ul>
                        </li>
                        <li class="has-sub-menu"><a href="#"><i class="ti-pie-chart"></i> <span>نمودار</span></a>
                            <ul class="side-header-sub-menu">
                                <li><a href="chart-chartjs.html"><span>نمودار جی</span></a></li>
                                <li><a href="chart-echarts.html"><span>نمودار جی 2</span></a></li>
                                <li><a href="chart-google.html"><span>نمودار گوگل</span></a></li>
                                <li><a href="chart-morris.html"><span>نمودار مورریس</span></a></li>
                                <li><a href="chart-sparkline.html"><span>نمودار جزییات</span></a></li>
                            </ul>
                        </li>
                        <li class="has-sub-menu"><a href="#"><i class="ti-map"></i> <span>نقشه ها</span></a>
                            <ul class="side-header-sub-menu">
                                <li><a href="map-vector.html"><span>نقشه برداری</span></a></li>
                                <li><a href="map-google.html"><span>نقشه گوگل</span></a></li>
                            </ul>
                        </li>
                        <li class="has-sub-menu"><a href="#"><i class="ti-shopping-cart"></i> <span>تجارت
                                    الکترونیکی</span></a>
                            <ul class="side-header-sub-menu">
                                <li><a href="add-product.html"><span>افزودن محصول</span></a></li>
                                <li><a href="edit-product.html"><span>ویرایش محصول</span></a></li>
                                <li><a href="invoice-list.html"><span>فهرست صورتحساب</span></a></li>
                                <li><a href="invoice-details.html"><span>جزییات صورتحساب</span></a></li>
                                <li><a href="order-list.html"><span>فهرست سفارشات</span></a></li>
                                <li><a href="order-details.html"><span>جزییات سفارشات</span></a></li>
                                <li><a href="manage-products.html"><span>مدیریت محصولات</span></a></li>
                            </ul>
                        </li>
                        <li class="has-sub-menu"><a href="#"><i class="ti-gift"></i> <span>برنامه ها</span></a>
                            <ul class="side-header-sub-menu">
                                <li><a href="chat.html"><span>چت</span></a></li>
                                <li><a href="mail.html"><span>میل</span></a></li>
                                <li><a href="single-mail.html"><span>تک میل</span></a></li>
                                <li><a href="todo-list.html"><span>لیست های کاری</span></a></li>
                            </ul>
                        </li>
                        <li class="has-sub-menu"><a href="#"><i class="ti-lock"></i> <span>احراز هویت</span></a>
                            <ul class="side-header-sub-menu">
                                <li><a href="login.html"><span>ورود</span></a></li>
                                <li><a href="register.html"><span>ثبت نام</span></a></li>
                                <li><a href="author-profile.html"><span>پروفایل</span></a></li>
                            </ul>
                        </li>
                        <li class="has-sub-menu"><a href="#"><i class="ti-layers"></i> <span>صفحات</span></a>
                            <ul class="side-header-sub-menu">
                                <li><a href="blank.html"><span>خالی</span></a></li>
                                <li><a href="timeline.html"><span>گاهشمار</span></a></li>
                                <li><a href="pricing.html"><span>قیمت</span></a></li>
                                <li><a href="error-1.html"><span>خطای-1</span></a></li>
                                <li><a href="error-2.html"><span>خطای-2</span></a></li>
                            </ul>
                        </li>

                    </ul>
                </nav>

            </div><!-- Side Header Inner End -->
        </div><!-- Side Header End -->

        <!-- Content Body Start -->
        <div class="content-body">
            {{{body}}}
        </div>

        <!-- Content Body End -->

        <!-- Footer Section Start -->
        <div class="footer-section">
            <div class="container-fluid">

                <div class="footer-copyright text-center">
                    <p class="text-body-light">1402 &copy; <a
                            href="https://www.rtl-theme.com/user-profile/tn_plugin/">سیدمحمدهادی حسینی</a></p>
                </div>

            </div>
        </div><!-- Footer Section End -->

    </div>

    <!-- JS
============================================ -->

    <!-- Global Vendor, plugins & Activation JS -->
    <script src="/static/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/static/assets/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="/static/assets/js/vendor/popper.min.js"></script>
    <script src="/static/assets/js/vendor/bootstrap.min.js"></script>
    <!--Plugins JS-->
    <script src="/static/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="/static/assets/js/plugins/tippy4.min.js.js"></script>
    <!--Main JS-->
    <script src="/static/assets/js/main.js"></script>

    <!-- Plugins & Activation JS For Only This Page -->

    <!--Moment-->
    <script src="/static/assets/js/plugins/moment/moment.min.js"></script>

    <!--Daterange Picker-->
    <script src="/static/assets/js/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="/static/assets/js/plugins/daterangepicker/daterangepicker.active.js"></script>

    <!--Echarts-->
    <script src="/static/assets/js/plugins/chartjs/Chart.min.js"></script>
    <script src="/static/assets/js/plugins/chartjs/chartjs.active.js"></script>

    <!--VMap-->
    <script src="/static/assets/js/plugins/vmap/jquery.vmap.min.js"></script>
    <script src="/static/assets/js/plugins/vmap/maps/jquery.vmap.world.js"></script>
    <script src="/static/assets/js/plugins/vmap/maps/samples/jquery.vmap.sampledata.js"></script>
    <script src="/static/assets/js/plugins/vmap/vmap.active.js"></script>
    <script src="/static/assets/js/plugins/jsgrid/jsgrid.min.js"></script>
    <script src="/static/assets/js/plugins/jsgrid/jsgrid-db.js"></script>
    <script src="/static/assets/js/plugins/jsgrid/jsgrid.active.js"></script>

</body>


</html>